@use 'variables' as *;  
@layer components {
  .menu {
    a {
      text-decoration: none;
      font-weight: 700;
      transition: color 0.3s;
      color: $color-dark;

      &:hover, &:active {
        color: $brand-red;
      }
    }
  }
    .divider {
    height: 25px;
    width: 1px;
    background: #e3d9d9;
  }
}